{
  "openapi": "3.0.0",
  "info": {
    "title": "CriptoYa API",
    "version": "0.0.1",
    "description": "API que brinda cotizaciones de criptomonedas de diferentes exchanges."
  },
  "servers": [
    {
      "url": "https://criptoya.com",
      "description": "Producción"
    }
  ],
  "paths": {
    "/api/{exchange}/{coin}/{fiat}/{volumen}": {
      "get": {
        "operationId": "get-cotizacion-exchange",
        "summary": "Cotización por exchange específico",
        "tags": [
          "Cotizaciones"
        ],
        "description": "Devuelve la cotización de un exchange específico.",
        "parameters": [
          {
            "name": "exchange",
            "in": "path",
            "description": "Proveedor a consultar",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ripio",
                "letsbit",
                "cryptomkt",
                "paxfulp2p",
                "lemoncash",
                "bitso",
                "satoshitango",
                "buenbit",
                "calypso",
                "belo",
                "eluter",
                "tiendacrypto",
                "fiwind",
                "pluscrypto",
                "trubit",
                "ripioexchange",
                "kriptonmarket",
                "bybit",
                "bitsoalpha",
                "cocoscrypto",
                "binance",
                "saldo",
                "trubitp2p",
                "binancep2p",
                "eldoradop2p",
                "bitgetp2p",
                "kucoinp2p",
                "argenbtc",
                "okexp2p",
                "bybitp2p",
                "decrypto",
                "paydecep2p",
                "huobip2p",
                "cryptomktpro",
                "syklop2p",
                "coinexp2p",
                "lnp2pbotp2p",
                "vibrant",
                "lemoncashp2p",
                "bitmonedero",
                "bingxp2p",
                "xapo"
              ],
              "example": "ripio"
            }
          },
          {
            "name": "coin",
            "in": "path",
            "description": "Cripto a operar",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "BTC",
                "ETH",
                "USDT",
                "USDC",
                "DAI",
                "UXD",
                "USDP",
                "WLD",
                "BNB",
                "SOL",
                "XRP",
                "ADA",
                "AVAX",
                "DOGE",
                "TRX",
                "LINK",
                "DOT",
                "MATIC",
                "SHIB",
                "LTC",
                "BCH",
                "EOS",
                "XLM",
                "FTM",
                "AAVE",
                "UNI",
                "ALGO",
                "BAT",
                "PAXG",
                "CAKE",
                "AXS",
                "SLP",
                "MANA",
                "SAND",
                "CHZ"
              ],
              "example": "BTC"
            }
          },
          {
            "name": "fiat",
            "in": "path",
            "description": "Moneda contra la que se opera",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ARS",
                "BRL",
                "CLP",
                "COP",
                "MXN",
                "PEN",
                "VES",
                "BOB",
                "UYU",
                "DOP",
                "PYG",
                "USD",
                "EUR"
              ],
              "example": "ARS"
            }
          },
          {
            "name": "volumen",
            "in": "path",
            "description": "Volumen a operar, utilizar el punto como separador decimal",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float",
              "example": 0.1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cotización exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            }
          }
        }
      }
    },
    "/api/{coin}/{fiat}/{volumen}": {
      "get": {
        "operationId": "get-cotizacion-general",
        "summary": "Cotización general",
        "tags": [
          "Cotizaciones"
        ],
        "description": "Devuelve la cotización general para todas las casas de cambio.",
        "parameters": [
          {
            "name": "coin",
            "in": "path",
            "description": "Cripto a operar",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "BTC",
                "ETH",
                "USDT",
                "USDC",
                "DAI",
                "UXD",
                "USDP",
                "WLD",
                "BNB",
                "SOL",
                "XRP",
                "ADA",
                "AVAX",
                "DOGE",
                "TRX",
                "LINK",
                "DOT",
                "MATIC",
                "SHIB",
                "LTC",
                "BCH",
                "EOS",
                "XLM",
                "FTM",
                "AAVE",
                "UNI",
                "ALGO",
                "BAT",
                "PAXG",
                "CAKE",
                "AXS",
                "SLP",
                "MANA",
                "SAND",
                "CHZ"
              ],
              "example": "BTC"
            }
          },
          {
            "name": "fiat",
            "in": "path",
            "description": "Moneda contra la que se opera, puede ser fiat o stablecoin",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ARS",
                "BRL",
                "CLP",
                "COP",
                "MXN",
                "PEN",
                "VES",
                "BOB",
                "UYU",
                "DOP",
                "PYG",
                "USD",
                "EUR"
              ],
              "example": "ARS"
            }
          },
          {
            "name": "volumen",
            "in": "path",
            "description": "Volumen a operar, utilizar el punto como separador decimal",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float",
              "example": 0.1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cotización exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            }
          }
        }
      }
    },
    "/api/fees": {
      "get": {
        "operationId": "get-fees",
        "summary": "Comisiones de retiro",
        "tags": [
          "Otros"
        ],
        "description": "Devuelve para cada exchange las criptomonedas con sus respectivas redes de retiro y la comisión para cada red.",
        "responses": {
          "200": {
            "description": "Comisiones de retiro exitosas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fees"
                }
              }
            }
          }
        }
      }
    },
    "/api/dolar": {
      "get": {
        "operationId": "get-dolar",
        "summary": "Cotización del dólar",
        "tags": [
          "Otros"
        ],
        "description": "Devuelve la cotización actual del dólar.",
        "responses": {
          "200": {
            "description": "Cotización del dólar exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DollarQuotes"
                }
              }
            }
          }
        }
      }
    },
    "/api/cer": {
      "get": {
        "operationId": "get-cer",
        "summary": "Valor CER",
        "tags": [
          "Otros"
        ],
        "description": "Devuelve el valor actual del CER.",
        "responses": {
          "200": {
            "description": "Valor CER",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CerValue"
                }
              }
            }
          }
        }
      }
    },
    "/api/uva": {
      "get": {
        "operationId": "get-uva",
        "summary": "Valor UVA",
        "tags": [
          "Otros"
        ],
        "description": "Devuelve el valor actual del UVA.",
        "responses": {
          "200": {
            "description": "Valor UVA",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UvaValue"
                }
              }
            }
          }
        }
      }
    },
    "/api/bancostodos": {
      "get": {
        "operationId": "get-bancostodos",
        "summary": "Cotización de bancos",
        "tags": [
          "Otros"
        ],
        "description": "Devuelve la cotización actual de los bancos.",
        "responses": {
          "200": {
            "description": "Cotización de bancos exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BancoQuotes"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Cotizacion": {
        "title": "Cotizacion",
        "type": "object",
        "properties": {
          "ask": {
            "type": "number",
            "format": "float",
            "description": "Precio de compra reportado por el exchange, sin sumar comisiones"
          },
          "totalAsk": {
            "type": "number",
            "format": "float",
            "description": "Precio de compra final incluyendo las comisiones de transferencia y trade"
          },
          "bid": {
            "type": "number",
            "format": "float",
            "description": "Precio de venta reportado por el exchange, sin restar comisiones"
          },
          "totalBid": {
            "type": "number",
            "format": "float",
            "description": "Precio de venta final incluyendo las comisiones de transferencia y trade"
          },
          "time": {
            "type": "integer",
            "description": "Timestamp del momento en que fue actualizada esta cotización"
          }
        }
      },
      "Fees": {
        "type": "object",
        "properties": {
          "Binance P2P": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "LN": {
                    "type": "number"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "ARBITRUM": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "BASE": {
                    "type": "number"
                  },
                  "OPTIMISM": {
                    "type": "number"
                  },
                  "ZKSYNC": {
                    "type": "number"
                  }
                }
              },
              "DAI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "USDT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "SOLANA": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "TRON": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "AVALANCHE": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "USDC": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "AVALANCHE": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "POLYGON": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "SOLANA": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "TRON": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "ADA": {
                "type": "object",
                "properties": {
                  "CARDANO": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "BNB": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "DOGE": {
                "type": "object",
                "properties": {
                  "DOGECOIN": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "MATIC": {
                "type": "object",
                "properties": {
                  "POLYGON": {
                    "type": "number"
                  },
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "BSC": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "XRP": {
                "type": "object",
                "properties": {
                  "RIPPLE": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "WLD": {
                "type": "object",
                "properties": {
                  "OPTIMISM": {
                    "type": "number"
                  },
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "AVAX": {
                "type": "object",
                "properties": {
                  "AVALANCHE": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "LTC": {
                "type": "object",
                "properties": {
                  "LITECOIN": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "SHIB": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "SOL": {
                "type": "object",
                "properties": {
                  "SOLANA": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "LINK": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "EOS": {
                "type": "object",
                "properties": {
                  "EOS": {
                    "type": "number"
                  }
                }
              },
              "DOT": {
                "type": "object",
                "properties": {
                  "POLKADOT": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "Bitso": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "DAI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "LTC": {
                "type": "object",
                "properties": {
                  "LITECOIN": {
                    "type": "number"
                  }
                }
              },
              "BCH": {
                "type": "object",
                "properties": {
                  "BITCOINCASH": {
                    "type": "number"
                  }
                }
              },
              "USDT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "TRON": {
                    "type": "number"
                  }
                }
              },
              "USDC": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "LINK": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "XRP": {
                "type": "object",
                "properties": {
                  "RIPPLE": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "MANA": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "AXS": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "UNI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "USDP": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "FTM": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "BAT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "DOT": {
                "type": "object",
                "properties": {
                  "POLKADOT": {
                    "type": "number"
                  }
                }
              },
              "DOGE": {
                "type": "object",
                "properties": {
                  "DOGECOIN": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "SOL": {
                "type": "object",
                "properties": {
                  "SOLANA": {
                    "type": "number"
                  }
                }
              },
              "AAVE": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "SAND": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "SHIB": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "CHZ": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "ADA": {
                "type": "object",
                "properties": {
                  "CARDANO": {
                    "type": "number"
                  }
                }
              },
              "ALGO": {
                "type": "object",
                "properties": {
                  "ALGORAND": {
                    "type": "number"
                  }
                }
              },
              "TRX": {
                "type": "object",
                "properties": {
                  "TRON": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "PAXG": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "MATIC": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "Buda": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  },
                  "LN": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "LTC": {
                "type": "object",
                "properties": {
                  "LITECOIN": {
                    "type": "number"
                  }
                }
              },
              "BCH": {
                "type": "object",
                "properties": {
                  "BITCOINCASH": {
                    "type": "number"
                  }
                }
              },
              "USDC": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            }
          },
          "Buenbit": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "DAI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "BNB": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "USDT": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "number"
                  },
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "POLYGON": {
                    "type": "number"
                  },
                  "ARBITRUM": {
                    "type": "number"
                  },
                  "OPTIMISM": {
                    "type": "number"
                  },
                  "TRON": {
                    "type": "number"
                  }
                }
              },
              "USDC": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "number"
                  },
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "POLYGON": {
                    "type": "number"
                  }
                }
              },
              "ADA": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "DOT": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "MATIC": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "number"
                  },
                  "POLYGON": {
                    "type": "number"
                  }
                }
              },
              "AVAX": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "FTM": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "AXS": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "NUARS": {
                "type": "object",
                "properties": {
                  "POLYGON": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "Copter": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "USDC": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "USDT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "Letsbit": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "ARBITRUM": {
                    "type": "number"
                  },
                  "OPTIMISM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "DAI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "LINK": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "USDT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "TRON": {
                    "type": "number"
                  },
                  "AVALANCHE": {
                    "type": "number"
                  },
                  "POLYGON": {
                    "type": "number"
                  }
                }
              },
              "UNI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "MATIC": {
                "type": "object",
                "properties": {
                  "POLYGON": {
                    "type": "number"
                  },
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "USDC": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "POLYGON": {
                    "type": "number"
                  },
                  "SOLANA": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "DOGE": {
                "type": "object",
                "properties": {
                  "DOGECOIN": {
                    "type": "number"
                  }
                }
              },
              "USDP": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "ADA": {
                "type": "object",
                "properties": {
                  "CARDANO": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "LTC": {
                "type": "object",
                "properties": {
                  "LITECOIN": {
                    "type": "number"
                  }
                }
              },
              "CAKE": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "SOL": {
                "type": "object",
                "properties": {
                  "SOLANA": {
                    "type": "number"
                  }
                }
              },
              "AAVE": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "AVAX": {
                "type": "object",
                "properties": {
                  "AVALANCHE": {
                    "type": "number"
                  }
                }
              },
              "PAXG": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "XLM": {
                "type": "object",
                "properties": {
                  "STELLAR": {
                    "type": "number"
                  }
                }
              },
              "XRP": {
                "type": "object",
                "properties": {
                  "RIPPLE": {
                    "type": "number"
                  }
                }
              },
              "NUARS": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "TRX": {
                "type": "object",
                "properties": {
                  "TRON": {
                    "type": "number"
                  }
                }
              },
              "BCH": {
                "type": "object",
                "properties": {
                  "BITCOINCASH": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "Ripio": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  },
                  "LN": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "ARBITRUM": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "OPTIMISM": {
                    "type": "number"
                  },
                  "ZKSYNC": {
                    "type": "number"
                  }
                }
              },
              "DAI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "POLYGON": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "ARBITRUM": {
                    "type": "number"
                  },
                  "OPTIMISM": {
                    "type": "number"
                  }
                }
              },
              "LTC": {
                "type": "object",
                "properties": {
                  "LITECOIN": {
                    "type": "number"
                  }
                }
              },
              "USDC": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "POLYGON": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "STELLAR": {
                    "type": "number"
                  },
                  "OPTIMISM": {
                    "type": "number"
                  },
                  "ZKSYNC": {
                    "type": "number"
                  },
                  "ALGORAND": {
                    "type": "number"
                  }
                }
              },
              "LINK": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "UNI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "AXS": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "SLP": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "MANA": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "BAT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "AAVE": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "CHZ": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "DOGE": {
                "type": "object",
                "properties": {
                  "DOGECOIN": {
                    "type": "number"
                  }
                }
              },
              "USDT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "POLYGON": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "ARBITRUM": {
                    "type": "number"
                  },
                  "TRON": {
                    "type": "number"
                  },
                  "OPTIMISM": {
                    "type": "number"
                  },
                  "ALGORAND": {
                    "type": "number"
                  },
                  "AVALANCHE": {
                    "type": "number"
                  }
                }
              },
              "AVAX": {
                "type": "object",
                "properties": {
                  "AVALANCHE": {
                    "type": "number"
                  }
                }
              },
              "MATIC": {
                "type": "object",
                "properties": {
                  "POLYGON": {
                    "type": "number"
                  }
                }
              },
              "BNB": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "XLM": {
                "type": "object",
                "properties": {
                  "STELLAR": {
                    "type": "number"
                  }
                }
              },
              "TRX": {
                "type": "object",
                "properties": {
                  "TRON": {
                    "type": "number"
                  }
                }
              },
              "UXD": {
                "type": "object",
                "properties": {
                  "LACHAIN": {
                    "type": "number"
                  }
                }
              },
              "ALGO": {
                "type": "object",
                "properties": {
                  "ALGORAND": {
                    "type": "number"
                  }
                }
              },
              "WLD": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "OPTIMISM": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "SatoshiTango": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "DAI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "BSC": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "POLYGON": {
                    "type": "number"
                  }
                }
              },
              "XRP": {
                "type": "object",
                "properties": {
                  "RIPPLE": {
                    "type": "number"
                  }
                }
              },
              "LTC": {
                "type": "object",
                "properties": {
                  "LITECOIN": {
                    "type": "number"
                  }
                }
              },
              "USDC": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "BSC": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "POLYGON": {
                    "type": "number"
                  },
                  "TRON": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "BCH": {
                "type": "object",
                "properties": {
                  "BITCOINCASH": {
                    "type": "number"
                  }
                }
              },
              "ADA": {
                "type": "object",
                "properties": {
                  "CARDANO": {
                    "type": "number"
                  }
                }
              },
              "USDT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "BSC": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "POLYGON": {
                    "type": "number"
                  },
                  "TRON": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "SOL": {
                "type": "object",
                "properties": {
                  "SOLANA": {
                    "type": "number"
                  }
                }
              },
              "XLM": {
                "type": "object",
                "properties": {
                  "STELLAR": {
                    "type": "number"
                  }
                }
              },
              "UNI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "LINK": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "DOGE": {
                "type": "object",
                "properties": {
                  "DOGECOIN": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "MANA": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "DOT": {
                "type": "object",
                "properties": {
                  "POLKADOT": {
                    "type": "number"
                  }
                }
              },
              "AVAX": {
                "type": "object",
                "properties": {
                  "AVALANCHE": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "ArgenBTC": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  }
                }
              },
              "DAI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "USDT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "WLD": {
                "type": "object",
                "properties": {
                  "OPTIMISM": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "CryptoMKT": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  }
                }
              },
              "EOS": {
                "type": "object",
                "properties": {
                  "EOS": {
                    "type": "number"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "XLM": {
                "type": "object",
                "properties": {
                  "STELLAR": {
                    "type": "number"
                  }
                }
              },
              "USDT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "TRON": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "SOLANA": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "BSC": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "BNB": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "SOL": {
                "type": "object",
                "properties": {
                  "SOLANA": {
                    "type": "number"
                  }
                }
              },
              "ADA": {
                "type": "object",
                "properties": {
                  "CARDANO": {
                    "type": "number"
                  }
                }
              },
              "XRP": {
                "type": "object",
                "properties": {
                  "RIPPLE": {
                    "type": "number"
                  }
                }
              },
              "USDC": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "POLYGON": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "TRON": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "SOLANA": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "BSC": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "DOT": {
                "type": "object",
                "properties": {
                  "POLKADOT": {
                    "type": "number"
                  }
                }
              },
              "MATIC": {
                "type": "object",
                "properties": {
                  "POLYGON": {
                    "type": "number"
                  },
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "LINK": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "DAI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "UNI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "BCH": {
                "type": "object",
                "properties": {
                  "BITCOINCASH": {
                    "type": "number"
                  }
                }
              },
              "LTC": {
                "type": "object",
                "properties": {
                  "LITECOIN": {
                    "type": "number"
                  }
                }
              },
              "AVAX": {
                "type": "object",
                "properties": {
                  "AVALANCHE": {
                    "type": "number"
                  }
                }
              },
              "AAVE": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "SHIB": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "ALGO": {
                "type": "object",
                "properties": {
                  "ALGORAND": {
                    "type": "number"
                  }
                }
              },
              "PAXG": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "TRX": {
                "type": "object",
                "properties": {
                  "TRON": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            }
          },
          "LemonCash": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "LN": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "ARBITRUM": {
                    "type": "number"
                  },
                  "OPTIMISM": {
                    "type": "number"
                  }
                }
              },
              "USDT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "POLYGON": {
                    "type": "number"
                  },
                  "TRON": {
                    "type": "number"
                  }
                }
              },
              "UNI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "ADA": {
                "type": "object",
                "properties": {
                  "CARDANO": {
                    "type": "number"
                  }
                }
              },
              "DAI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "SOL": {
                "type": "object",
                "properties": {
                  "SOLANA": {
                    "type": "number"
                  }
                }
              },
              "AXS": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "SLP": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "MANA": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "USDC": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "POLYGON": {
                    "type": "number"
                  },
                  "STELLAR": {
                    "type": "number"
                  },
                  "TRON": {
                    "type": "number"
                  }
                }
              },
              "SAND": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "DOT": {
                "type": "object",
                "properties": {
                  "POLKADOT": {
                    "type": "number"
                  }
                }
              },
              "ALGO": {
                "type": "object",
                "properties": {
                  "ALGORAND": {
                    "type": "number"
                  }
                }
              },
              "BNB": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "AVAX": {
                "type": "object",
                "properties": {
                  "AVALANCHE": {
                    "type": "number"
                  }
                }
              },
              "MATIC": {
                "type": "object",
                "properties": {
                  "POLYGON": {
                    "type": "number"
                  }
                }
              },
              "AAVE": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "FTM": {
                "type": "object",
                "properties": {
                  "FANTOM": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "PAXG": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "XLM": {
                "type": "object",
                "properties": {
                  "STELLAR": {
                    "type": "number"
                  }
                }
              },
              "LTC": {
                "type": "object",
                "properties": {
                  "LITECOIN": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "Fiwind": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "LN": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "USDT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "TRON": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "POLYGON": {
                    "type": "number"
                  },
                  "OPTIMISM": {
                    "type": "number"
                  },
                  "ARBITRUM": {
                    "type": "number"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "OPTIMISM": {
                    "type": "number"
                  },
                  "ARBITRUM": {
                    "type": "number"
                  }
                }
              },
              "DAI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "ADA": {
                "type": "object",
                "properties": {
                  "CARDANO": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "SOL": {
                "type": "object",
                "properties": {
                  "SOLANA": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "DOT": {
                "type": "object",
                "properties": {
                  "POLKADOT": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "USDC": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "TRON": {
                    "type": "number"
                  },
                  "POLYGON": {
                    "type": "number"
                  },
                  "OPTIMISM": {
                    "type": "number"
                  },
                  "ARBITRUM": {
                    "type": "number"
                  }
                }
              },
              "MATIC": {
                "type": "object",
                "properties": {
                  "POLYGON": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "BNB": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "UniversalCoins": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "USDT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            }
          },
          "Bitmonedero": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  }
                }
              },
              "USDT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            }
          },
          "Domitai": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "USDT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "LTC": {
                "type": "object",
                "properties": {
                  "LITECOIN": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "Vitawallet": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "Orionx": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "DAI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "BNB": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "LTC": {
                "type": "object",
                "properties": {
                  "LITECOIN": {
                    "type": "number"
                  }
                }
              },
              "BCH": {
                "type": "object",
                "properties": {
                  "BITCOINCASH": {
                    "type": "number"
                  }
                }
              },
              "USDT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            }
          },
          "OKX P2P": {
            "type": "object",
            "properties": {
              "USDT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "TRON": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "POLYGON": {
                    "type": "number"
                  },
                  "ARBITRUM": {
                    "type": "number"
                  },
                  "OPTIMISM": {
                    "type": "number"
                  },
                  "AVALANCHE": {
                    "type": "number"
                  },
                  "ZKSYNC": {
                    "type": "number"
                  }
                }
              },
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  },
                  "LN": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "ARBITRUM": {
                    "type": "number"
                  },
                  "OPTIMISM": {
                    "type": "number"
                  },
                  "ZKSYNC": {
                    "type": "number"
                  }
                }
              },
              "USDC": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "POLYGON": {
                    "type": "number"
                  },
                  "TRON": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "AVALANCHE": {
                    "type": "number"
                  },
                  "ARBITRUM": {
                    "type": "number"
                  },
                  "ZKSYNC": {
                    "type": "number"
                  }
                }
              },
              "DAI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "POLYGON": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "Belo": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  },
                  "LN": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "OPTIMISM": {
                    "type": "number"
                  },
                  "ARBITRUM": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "DAI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "POLYGON": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "USDT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "TRON": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "OPTIMISM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "POLYGON": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "ARBITRUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "BSC": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "USDC": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "TRON": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "OPTIMISM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "POLYGON": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "ARBITRUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "BSC": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            }
          },
          "Huobi P2P": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  },
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "OPTIMISM": {
                    "type": "number"
                  },
                  "ARBITRUM": {
                    "type": "number"
                  }
                }
              },
              "DAI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "USDT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "TRON": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "SOLANA": {
                    "type": "number"
                  },
                  "AVALANCHE": {
                    "type": "number"
                  }
                }
              },
              "USDC": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "TiendaCrypto": {
            "type": "object",
            "properties": {
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "DAI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "BNB": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "BTC": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "SOL": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "USDT": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "number"
                  },
                  "POLYGON": {
                    "type": "number"
                  }
                }
              },
              "MATIC": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "number"
                  },
                  "POLYGON": {
                    "type": "number"
                  }
                }
              },
              "USDC": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "Decrypto": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  }
                }
              },
              "DAI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "USDT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "TRON": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "Vibrant": {
            "type": "object",
            "properties": {
              "USDC": {
                "type": "object",
                "properties": {
                  "STELLAR": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "XLM": {
                "type": "object",
                "properties": {
                  "STELLAR": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            }
          },
          "Airtm": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "DAI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "USDC": {
                "type": "object",
                "properties": {
                  "STELLAR": {
                    "type": "number"
                  }
                }
              },
              "XLM": {
                "type": "object",
                "properties": {
                  "STELLAR": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "Kraken": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  },
                  "LN": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "ARBITRUM": {
                    "type": "number"
                  }
                }
              },
              "DAI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "POLYGON": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "USDT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "TRON": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "POLYGON": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "USDC": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "SOLANA": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "TRON": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "POLYGON": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "MATIC": {
                "type": "object",
                "properties": {
                  "POLYGON": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "Bybit P2P": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "ARBITRUM": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "ZKSYNC": {
                    "type": "number"
                  },
                  "OPTIMISM": {
                    "type": "number"
                  }
                }
              },
              "USDT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "TRON": {
                    "type": "number"
                  },
                  "ARBITRUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "SOLANA": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "POLYGON": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "OPTIMISM": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "USDC": {
                "type": "object",
                "properties": {
                  "ARBITRUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "AVALANCHE": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "POLYGON": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "SOLANA": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "TRON": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "ZKSYNC": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "XRP": {
                "type": "object",
                "properties": {
                  "RIPPLE": {
                    "type": "number"
                  }
                }
              },
              "EOS": {
                "type": "object",
                "properties": {
                  "EOS": {
                    "type": "number"
                  }
                }
              },
              "ADA": {
                "type": "object",
                "properties": {
                  "CARDANO": {
                    "type": "number"
                  }
                }
              },
              "DOGE": {
                "type": "object",
                "properties": {
                  "DOGECOIN": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "DOT": {
                "type": "object",
                "properties": {
                  "POLKADOT": {
                    "type": "number"
                  }
                }
              },
              "DAI": {
                "type": "object",
                "properties": {
                  "BSC": {
                    "type": "number"
                  },
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "ZKSYNC": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "TRX": {
                "type": "object",
                "properties": {
                  "TRON": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "AVAX": {
                "type": "object",
                "properties": {
                  "AVALANCHE": {
                    "type": "number"
                  }
                }
              },
              "MATIC": {
                "type": "object",
                "properties": {
                  "POLYGON": {
                    "type": "number"
                  }
                }
              },
              "LINK": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "KuCoin P2P": {
            "type": "object",
            "properties": {
              "USDT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "TRON": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "USDC": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "TRON": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            }
          },
          "Latamex": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "DAI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "USDT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "TRON": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "POLYGON": {
                    "type": "number"
                  }
                }
              },
              "USDC": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "POLYGON": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              },
              "LTC": {
                "type": "object",
                "properties": {
                  "LITECOIN": {
                    "type": "number"
                  }
                }
              },
              "TRX": {
                "type": "object",
                "properties": {
                  "TRON": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "MATIC": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "POLYGON": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "RipioTrade": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "DAI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "USDT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "POLYGON": {
                    "type": "number"
                  },
                  "AVALANCHE": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "USDC": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "KriptonMarket": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  }
                }
              },
              "USDT": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "TRON": {
                    "type": "number"
                  }
                }
              },
              "DAI": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "POLYGON": {
                    "type": "number"
                  }
                }
              },
              "USDC": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "POLYGON": {
                    "type": "number"
                  }
                }
              },
              "MATIC": {
                "type": "object",
                "properties": {
                  "POLYGON": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "Bitget P2P": {
            "type": "object",
            "properties": {
              "BTC": {
                "type": "object",
                "properties": {
                  "BITCOIN": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "LN": {
                    "type": "number"
                  }
                }
              },
              "ETH": {
                "type": "object",
                "properties": {
                  "ETHEREUM": {
                    "type": "number"
                  },
                  "BSC": {
                    "type": "number"
                  },
                  "ARBITRUM": {
                    "type": "number"
                  },
                  "OPTIMISM": {
[...]
