{
  "openapi": "3.0.0",
  "info": {
    "title": "ArgentinaDatos API",
    "version": "1.0.0",
    "description": "API desarrollada en <a href=\"https://es.js.org?ref=argentinadatos.com\" target=\"_blank\">EsJS</a> que brinda datos de interés para los argentinos.\n\n¿Encontraste útil esta API? <strong>¡Dejá tu ⭐ en <a href=\"https://github.com/enzonotario/esjs-dolar-api\" alt=\"GitHub\" target=\"_blank\">GitHub</a>!</strong>"
  },
  "servers": [
    {
      "url": "https://api.argentinadatos.com",
      "description": "Producción"
    },
    {
      "url": "http://localhost:5173",
      "description": "Local"
    }
  ],
  "paths": {
    "/v1/feriados": {
      "get": {
        "summary": "Feriados",
        "tags": [
          "Datos"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Devuelve los feriados del año actual",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Feriado"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-feriados"
      }
    },
    "/v1/estado": {
      "get": {
        "summary": "Estado de la API",
        "tags": [
          "API"
        ],
        "responses": {
          "200": {
            "description": "Devuelve el estado de la API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Estado"
                }
              }
            }
          }
        },
        "operationId": "get-estado"
      }
    }
  },
  "components": {
    "schemas": {
      "Feriado": {
        "title": "Feriado",
        "type": "object",
        "properties": {
          "fecha": {
            "type": "string"
          },
          "tipo": {
            "type": "string"
          },
          "nombre": {
            "type": "string"
          }
        },
        "x-examples": {
          "Example 1": {
            "fecha": "2020-01-01",
            "tipo": "Inamovible",
            "motivo": "Año Nuevo"
          }
        }
      },
      "Estado": {
        "title": "Estado",
        "type": "object",
        "properties": {
          "estado": {
            "type": "string"
          },
          "aleatorio": {
            "type": "integer"
          }
        },
        "x-examples": {
          "Example 1": {
            "estado": "Disponible",
            "aleatorio": 1234
          }
        }
      }
    }
  }
}
