{
  "openapi": "3.0.0",
  "info": {
    "title": "ArgentinaDatos API",
    "version": "1.0.0",
    "description": "API desarrollada en <a href=\"https://es.js.org?ref=argentinadatos.com\" target=\"_blank\">EsJS</a> que brinda datos de interés para los argentinos.\n\n¿Encontraste útil esta API? <strong>¡Dejá tu ⭐ en <a href=\"https://github.com/enzonotario/esjs-dolar-api\" alt=\"GitHub\" target=\"_blank\">GitHub</a>!</strong>"
  },
  "servers": [
    {
      "url": "https://api.argentinadatos.com",
      "description": "Producción"
    },
    {
      "url": "http://localhost:5173",
      "description": "Local"
    }
  ],
  "paths": {
    "/v1/feriados": {
      "get": {
        "summary": "Feriados",
        "tags": [
          "Datos"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Devuelve los feriados del año actual",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Feriado"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-feriados"
      }
    },
    "/v1/cotizaciones/dolares/{casa}": {
      "get": {
        "summary": "Cotizaciones del dólar",
        "tags": [
          "Datos"
        ],
        "description": "Devuelve las cotizaciones del dólar de la casa de cambio especificada, para la fecha especificada (en formato ISO 8601).",
        "parameters": [
          {
            "name": "casa",
            "in": "path",
            "description": "Casa de cambio",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "oficial",
                "blue",
                "bolsa",
                "mayorista",
                "solidario",
                "turista"
              ]
            }
          },
          {
            "name": "fecha",
            "in": "query",
            "description": "Fecha de la cotización",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve una lista de cotizaciones del dólar",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Cotizacion"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-cotizaciones-dolares",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl -X GET \n \"http://localhost:5173/v1/cotizaciones/dolares/{casa}?fecha={fecha}\" \n -H \"x-api-key: {apikey}\""
          }
        ]
      }
    },
    "/v1/estado": {
      "get": {
        "summary": "Estado de la API",
        "tags": [
          "API"
        ],
        "responses": {
          "200": {
            "description": "Devuelve el estado de la API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Estado"
                }
              }
            }
          }
        },
        "operationId": "get-estado"
      }
    }
  },
  "components": {
    "schemas": {
      "Feriado": {
        "title": "Feriado",
        "type": "object",
        "properties": {
          "fecha": {
            "type": "string"
          },
          "tipo": {
            "type": "string"
          },
          "nombre": {
            "type": "string"
          }
        },
        "x-examples": {
          "Example 1": {
            "fecha": "2020-01-01",
            "tipo": "Inamovible",
            "motivo": "Año Nuevo"
          }
        }
      },
      "Estado": {
        "title": "Estado",
        "type": "object",
        "properties": {
          "estado": {
            "type": "string"
          },
          "aleatorio": {
            "type": "integer"
          }
        },
        "x-examples": {
          "Example 1": {
            "estado": "Disponible",
            "aleatorio": 1234
          }
        }
      },
      "Cotizacion": {
        "title": "Cotizacion",
        "type": "object",
        "properties": {
          "moneda": {
            "type": "string"
          },
          "casa": {
            "type": "string"
          },
          "fecha": {
            "type": "string"
          },
          "compra": {
            "type": "number"
          },
          "venta": {
            "type": "number"
          }
        },
        "x-examples": {
          "Example 1": {
            "compra": 123.45,
            "venta": 123.45
          }
        }
      }
    },
    "securitySchemes": {
      "x-api-key": {
        "name": "apiKey",
        "type": "apiKey",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "x-api-key": []
    }
  ]
}
