{
  "openapi": "3.0.0",
  "info": {
    "title": "Multiple response types",
    "description": "Example of an OpenAPI document with multiple response types.",
    "version": "1.0.0",
    "license": {
      "name": "MIT"
    },
    "contact": {
      "name": "OpenAI",
      "url": "https://openai.com"
    },
    "termsOfService": "https://openai.com/terms"
  },
  "servers": [
    {
      "url": "https://cdn.openai.com/API"
    }
  ],
  "paths": {
    "/docs/audio/alloy.wav": {
      "get": {
        "operationId": "getAudio",
        "summary": "Get audio",
        "description": "Example of a response with an audio file.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "An example of the `alloy` voice."
                }
              }
            }
          }
        }
      }
    },
    "/images/guides/simple-cat-image-dall-e-3.webp": {
      "get": {
        "operationId": "getImage",
        "summary": "Get image",
        "description": "Example of a response with an image file.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "An image generated by DALL-E 3."
                }
              }
            }
          }
        }
      }
    }
  }
}
