@layer theme, base, components;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';
@config '../../tailwind.config.mjs';

.VPDoc .content .content-container {
  max-width: none !important;
}

.VPDoc:has(.OASpecPlayground) .OASpecPlayground .OASidebar,
.VPDoc:has(.OASpecPlayground) .OASpecPlayground .OAPlaygroundLocalNav,
.VPDoc:has(.OASpecPlayground) .OASpecPlayground .VPBackdrop {
  display: none;
}

.VPDoc:has(.OASpecPlayground) .OASpecPlayground .OAContent.has-sidebar {
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}
