name: E2E Local Tests

on:
  push:
    branches: [ main, develop, feat/deepobject-support ]
  pull_request:
    branches: [ main, develop ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Run E2E Tests Locally
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v4.0.0

      - name: Install dependencies
        run: pnpm install

      - name: Build vitepress-openapi
        run: pnpm build

      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps

      - name: Run Playwright tests
        run: pnpm exec playwright test local --update-snapshots

      - name: Upload updated snapshots
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: updated-snapshots
          path: e2e/local/**/*-linux.png
          retention-days: 30

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: |
            playwright-report/
            test-results/
          retention-days: 30
