name: E2E Staging Tests

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Run E2E Tests on Vercel Preview
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v4.0.0

      - name: Install dependencies
        run: pnpm install

      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps

      - name: Wait for Vercel deployment
        run: sleep 60

      - name: Get Vercel Preview URL
        id: get-vercel-preview-url
        uses: zentered/vercel-preview-url@v1.4.0
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_ACCESS_TOKEN }}
        with:
          vercel_project_id: ${{ secrets.VERCEL_PROJECT_ID }}
          vercel_team_id: ${{ secrets.VERCEL_TEAM_ID }}

      - name: Display Vercel Preview URL
        run: |
          echo "Vercel Preview URL: https://${{ steps.get-vercel-preview-url.outputs.preview_url }}"

      - name: Run Playwright tests against Vercel Preview
        run: pnpm exec playwright test staging
        env:
          PLAYWRIGHT_BASE_URL: https://${{ steps.get-vercel-preview-url.outputs.preview_url }}

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: |
            playwright-report/
            test-results/
          retention-days: 30
